*.o
*.a
*.rsrc
*~
*.make
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles
install_manifest.txt
compile_commands.json
CMakeLists.txt.user
Source/build*
build*
.ninja*
.dir-locals.el
.ignore
.cache
.ccls-cache
.clang-format
GPATH
GRTAGS
GTAGS
ID
TrackRunner
